<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>
        {{ title }}
    </title>
    <link rel="stylesheet" href="{% static 'adminapp/css/style.css' %}">
</head>

<body>

    <header class="main-header">
        <ul class="menu">
            <li class="menu__item" style="position: absolute; right:80%; color: black"><a href="" class="home"><span>StyleShop</span> {{ user.username }}</a></li>
            {% for object in menu %}
                <li class="menu__item" data-sub="product"><a href="{{ object.link }}">{{ object.name }}</a></li>
            {% endfor %}
        </ul>
    </header>
    
    {% if page_text %}
        <div class="page-text">
            <span>{{ page_text }}</span>
        </div>
    {% endif %}

    {% if title == 'Главная' %}
        <div class="page-text">
            <ul>
                {% for object in menu %}
                    <li><a href="{{ object.link }}">{{ object.name }}</a></li>
                {% endfor %}
            </ul>
        </div>

    {% else %}

        <div id="wrapper">
            <h1>{{ title }}</h1>

            <table id="keywords" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        {% for field in table_fields %}
                            <th><span>{{ field }}</span></th>                        
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                        <tr>
                            <td class="lalign"><a class="table-href" href="product/update/{{ product.id }}">{{ product.name }}</a></td>
                            <td>{{ product.category }}</td>
                            <td>{{ product.brand }}</td>
                            <td>{{ product.cost }}</td>
                            <td>{{ product.sale }}</td>
                            <td><a class="table-href" href="product/delete/{{ product.id }}">Удалить</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    {% endif %}

</body>

<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.28.14/js/jquery.tablesorter.min.js"></script>
<script src="{% static 'adminapp/js/index.js'%}"></script>

</html>
