{% extends "base_form.html" %}
{% load static %}

{% block title %}Создание{% endblock title %}

{% block form %}

<span class="contact100-form-title">
	Создание
</span>

{% for error in form.non_field_errors %}

	<p style="color: red">{{ error }}</p>

{% endfor %}

{% for field in form %}

	<label for="field.name" style="color: #403866; font-size: 18px;">{{ field.label }}</label>
	<div class="wrap-input100 validate-input" data-validate="Please enter your name">
			{{ field }}
			{% for error in field.errors %}
				<small style="color: red">{{ error }}</small>
			{% endfor %}
	</div>

{% endfor %}

<!-- <div class="wrap-input100 validate-input" data-validate="Please enter your name">
	<input class="input100" type="text" name="name" placeholder="Full Name">
	<span class="focus-input100"></span>
</div> -->

<div class="container-contact100-form-btn">
	<button class="contact100-form-btn">
		<span>
			<i class="fa fa-paper-plane-o m-r-6" aria-hidden="true"></i>
			Создать
		</span>
	</button>
</div>

{% endblock form %}
		
