{% extends "base_form.html" %}
{% load static %}

{% block title %}{{ title }}{% endblock title %}

{% block form %}

<span class="contact100-form-title">
	{{ title }}
</span>

{% for error in form.non_field_errors %}

	<p style="color: red">{{ error }}</p>

{% endfor %}

{% for field in form %}

	<label for="field.name" style="color: #403866; font-size: 18px;">{{ field.label }}</label>
	<div class="wrap-input100 validate-input" style="text-align:center">
			{{ field }}
			{% for error in field.errors %}
				<small style="color: red">{{ error }}</small>
			{% endfor %}
	</div>

{% endfor %}

<div class="container-contact100-form-btn">
	<button class="contact100-form-btn">
		<span>
			<i class="fa fa-paper-plane-o m-r-6" aria-hidden="true"></i>
			{{ button_txt }}
		</span>
	</button>
</div>

{% endblock form %}