<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>
        Меню
    </title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <header class="main-header">
        <ul class="menu">
            <li class="menu__item" style="position: absolute; right:80%; color: black"><a href="#" class="home"><span>StyleShop</span> Админ</a></li>
            <li class="menu__item" data-sub="product"><a href="#">Product</a></li>
            <li class="menu__item" data-sub="developer"><a href="#">Developer</a></li>
            <li class="menu__item" data-sub="company"><a href="#">Company</a></li>
        </ul>
    </header>

</body>
</html>
