{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ product.name }}
{% endblock title %}

{% block top_menu %}

    {% for section in sections %}
        <ul class="single-mega cn-col-4">

            <li class="title">{{ section.name }}</li>

            {% for category in categories %}

                {% if category.section.id == section.id %}
                    <li><a href="/shop/category/{{ category.id }}">{{ category.name }}</a></li>
                {% endif %}

            {% endfor %}
        </ul>
    {% endfor %}

    <ul class="single-mega cn-col-4">
        <li class="title">Брэнды</li>
            
        {% for brand in brands %}
            <li><a href="/shop/brand/{{ brand.id }}">{{ brand.name }}</a></li>
        {% endfor %}

    </ul>

{% endblock top_menu %}

{% block login %}

    {% if user.username %}
        <a href="/auth/logout"><b><i>{{ user.username }}</i></b></a>
        
    {% else %}
        <a href="/auth/login"><b><i>Войти</i></b></a>

    {% endif %}

{% endblock login %}

{% block cart_amount %}
    {% if amount %}
        {{ amount }}
    {% endif %}
{% endblock cart_amount %}

{% block content %}

<!-- ##### Single Product Details Area Start ##### -->
<section class="single_product_details_area d-flex align-items-center">

    <!-- Фотографии товара -->
    <div class="single_product_thumb clearfix">
        <img style="max-height: 700px" src="/media/{{ product.images }}" alt="">
    </div>

    <div class="single_product_desc clearfix">
        <span>{{ product.brand }}</span>
        <a href="cart.html">
            <h2>{{ product.name }}</h2>
        </a>
        <p class="product-price">
            {% if product.quantity > 0 %}
                {% if product.sale > 0 %}
                <span class="old-price">{{ product.cost }} Руб</span> 
                -{{ product.sale }}%
                {% else %}
                {{ product.cost }} Руб
                {% endif %}
            {% else %}
                Нет в наличии
            {% endif %}
        </p>
        <p class="product-desc">{{ product.description }}</p>

        <!-- Form -->
        <form class="cart-form clearfix" method="post">
            <!-- Cart & Favourite Box -->
            <div class="cart-fav-box d-flex align-items-center">
                <!-- Cart -->
                {% if product.quantity %}
                    <div class="add-to-cart-btn">
                        {% csrf_token %}
                        <a href="/cart/add/{{ product.id }}" class="btn essence-btn">В корзину</a>
                    </div>
                {% endif %}
            </div>
        </form>
    </div>
</section>

{% endblock content %}

{% block js %}

<!-- jQuery (Necessary for All JavaScript Plugins) -->
<script src="{% static 'mainpage/js/jquery/jquery-2.2.4.min.js' %}"></script>
<!-- Popper js -->
<script src="{% static 'mainpage/js/popper.min.js' %}"></script>
<!-- Bootstrap js -->
<script src="{% static 'mainpage/js/bootstrap.min.js' %}"></script>
<!-- Plugins js -->
<script src="{% static 'mainpage/js/plugins.js' %}"></script>
<!-- Classy Nav js -->
<script src="{% static 'mainpage/js/classy-nav.min.js' %}"></script>
<!-- Active js -->
<script src="{% static 'mainpage/js/active.js' %}"></script>

{% endblock js %}
