{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ product.name }}
{% endblock title %}

{% block top_menu %}

    {% for section in sections %}
        <ul class="single-mega cn-col-4">

            <li class="title">{{ section.name }}</li>

            {% for category in categories %}

                {% if category.section.id == section.id %}
                    <li><a href="/shop/category/{{ category.id }}">{{ category.name }}</a></li>
                {% endif %}

            {% endfor %}
        </ul>
    {% endfor %}

    <ul class="single-mega cn-col-4">
        <li class="title">Брэнды</li>
            
        {% for brand in brands %}
            <li><a href="/shop/brand/{{ brand.id }}">{{ brand.name }}</a></li>
        {% endfor %}

    </ul>

{% endblock top_menu %}

{% block login %}

    {% if user.username %}
        <a href="/auth/logout"><b><i>{{ user.username }}</i></b></a>
        
    {% else %}
        <a href="/auth/login"><b><i>Войти</i></b></a>

    {% endif %}

{% endblock login %}

{% block content %}

<!-- ##### Single Product Details Area Start ##### -->
<section class="single_product_details_area d-flex align-items-center">

    <!-- Фотографии товара -->
    <div class="single_product_thumb clearfix">
        <img style="max-height: 700px" src="/media/{{ product.images }}" alt="">
    </div>

    <div class="single_product_desc clearfix">
        <span>{{ product.brand }}</span>
        <a href="cart.html">
            <h2>{{ product.name }}</h2>
        </a>
        <p class="product-price">
            {% if product.sale > 0 %}
            <span class="old-price">{{ product.cost }} Руб</span> 
            -{{ product.sale }}%
            {% else %}
            {{ product.cost }} Руб
            {% endif %}
        </p>
        <p class="product-desc">{{ product.description }}</p>

        <!-- Form -->
        <form class="cart-form clearfix" method="post">
            <!-- Select Box -->
            <div class="select-box d-flex mt-50 mb-30">
                <select name="select" id="productSize" class="mr-5">
                    <option value="value">Size: XL</option>
                    <option value="value">Size: X</option>
                    <option value="value">Size: M</option>
                    <option value="value">Size: S</option>
                </select>
                <select name="select" id="productColor">
                    <option value="value">Color: Black</option>
                    <option value="value">Color: White</option>
                    <option value="value">Color: Red</option>
                    <option value="value">Color: Purple</option>
                </select>
            </div>
            <!-- Cart & Favourite Box -->
            <div class="cart-fav-box d-flex align-items-center">
                <!-- Cart -->
                <button type="submit" name="addtocart" value="5" class="btn essence-btn">В корзину</button>
                <!-- Favourite -->
                <div class="product-favourite ml-4">
                    <a href="#" class="favme fa fa-heart"></a>
                </div>
            </div>
        </form>
    </div>
</section>

{% endblock content %}

{% block js %}

<!-- jQuery (Necessary for All JavaScript Plugins) -->
<script src="{% static 'mainpage/js/jquery/jquery-2.2.4.min.js' %}"></script>
<!-- Popper js -->
<script src="{% static 'mainpage/js/popper.min.js' %}"></script>
<!-- Bootstrap js -->
<script src="{% static 'mainpage/js/bootstrap.min.js' %}"></script>
<!-- Plugins js -->
<script src="{% static 'mainpage/js/plugins.js' %}"></script>
<!-- Classy Nav js -->
<script src="{% static 'mainpage/js/classy-nav.min.js' %}"></script>
<!-- Active js -->
<script src="{% static 'mainpage/js/active.js' %}"></script>

{% endblock js %}
